/**
 * Share button
 */

.share-button {
  border-radius: 50%;
  text-align: center;
  transition: background .2s ease-in-out;
  line-height: 1;
  padding: .5em;

  .icon {
    color: #78909c;
    transition: color .2s ease-in-out;
  }

  &:hover {
    background: #ECEFF1;
    .icon {
      color: #263238;
    }
  }
}

/**
 * Share Modal
 */

.share-modal {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgb(38, 50, 56); /* IE Fallback */
  background: rgba(38, 50, 56, .3);
  z-index: 1500;
  top: 0;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;


  .lt-ie9 & {
    display: none;
  }

  .share-body {
    position: relative;
    width: 37em;
    margin: auto;
    padding: 1.5em;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);

    .lt-ie10 & {
      position: relative;
      top: 20%;
    }
  }

  &.share-modal--open {
    opacity: 1;
    visibility: visible;

    .lt-ie9 & {
      display: block;
    }
  }
}

.share-modal__title {
  margin: 0 0 2em;
  font-size: 1.1em;
  color: #00bcd4;
  font-weight: 400;
  text-align: center;

  .icon {
    color: #00bcd4;
    vertical-align: middle;
    margin-right: .4em;
    visibility: visible;
  }
}

.share-modal__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  visibility: visible;

  .icon {
    color: #607D8B;
  }
}

.share-modal__post-title {
  font-weight: 700;
  color: #546E7A;
  text-align: center;
  margin: 0 0 2em;
  line-height: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto
}

.share-modal__post-title--small {
  font-weight: 400;
  font-size: .75em;
}

.share-modal__link-box {
  direction: ltr;
  width: 100%;
  background: 0 0;
  color: #263238;
  border: none;
  border-bottom: 2px solid #cfd8dc;
  border-radius: 3px;
  box-shadow: none;
  text-align: center;
}

.share-buttons-container {
  display: table;
  margin: 0 auto 1.5em;

  a {
    float: left;
    width: 3.5em;
    height: 3.5em;
    line-height: 3.5em;    
    margin: 4px;
    border-radius: 2px;
    text-align: center;
    border: 2px solid #ECEFF1;
    transition: all .3s ease;
    font-size: 1em;

    .icon {
      font-size: 1.3em;
      visibility: visible;
    }

    &.facebook .icon {
      color: #3b5998
    }
    &.google-plus .icon {
      color: #dc4e41
    }
    &.twitter .icon {
      color: #55acee
    }
    &.linkedin .icon {
      color: #0077b5
    }
    &.telegram .icon {
      color: #2fa7db;
    }
    &:hover .icon {
      color: #FFF
    }
    &:hover.facebook {
      border-color: #3b5998;
      background: #3b5998
    }
    &:hover.google-plus {
      border-color: #dc4e41;
      background: #dc4e41
    }
    &:hover.twitter {
      border-color: #55acee;
      background: #55acee
    }
    &:hover.linkedin {
      border-color: #0077b5;
      background: #0077b5
    }
    &:hover.telegram {
      border-color: #2fa7db;
      background: #2fa7db
    }
  }
}


.share-modal--open,
.share-modal--close {
  .share-body {
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}

.share-modal--open {
  .share-body {
    animation-name: anim-open;
  }
}

.share-modal--close {
  .share-body {
    animation-name: anim-close;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
  }
}


@keyframes anim-open {
  0% { opacity: 0; transform: matrix3d(0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.083333% { transform: matrix3d(0.75266, 0, 0, 0, 0, 0.76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.166667% { transform: matrix3d(0.81071, 0, 0, 0, 0, 0.84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.25% { transform: matrix3d(0.86808, 0, 0, 0, 0, 0.9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.333333% { transform: matrix3d(0.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.416667% { transform: matrix3d(0.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.5% { transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.583333% { transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.75% { transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.833333% { transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.916667% { transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25% { transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.083333% { transform: matrix3d(1.03699, 0, 0, 0, 0, 0.98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.166667% { transform: matrix3d(1.02831, 0, 0, 0, 0, 0.97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.25% { transform: matrix3d(1.01973, 0, 0, 0, 0, 0.97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { transform: matrix3d(1.01191, 0, 0, 0, 0, 0.97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.416667% { transform: matrix3d(1.00526, 0, 0, 0, 0, 0.98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  37.5% { transform: matrix3d(1, 0, 0, 0, 0, 0.98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.583333% { transform: matrix3d(0.99617, 0, 0, 0, 0, 0.99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.666667% { transform: matrix3d(0.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.75% { transform: matrix3d(0.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.833333% { transform: matrix3d(0.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.916667% { transform: matrix3d(0.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { opacity: 1; transform: matrix3d(0.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.083333% { transform: matrix3d(0.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  54.166667% { transform: matrix3d(0.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.25% { transform: matrix3d(0.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.333333% { transform: matrix3d(0.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60.416667% { transform: matrix3d(0.99921, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  62.5% { transform: matrix3d(1, 0, 0, 0, 0, 0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  64.583333% { transform: matrix3d(1.00057, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { transform: matrix3d(1.00095, 0, 0, 0, 0, 0.99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  68.75% { transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70.833333% { transform: matrix3d(1.00119, 0, 0, 0, 0, 0.99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  72.916667% { transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% { transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  77.083333% { transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  79.166667% { transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.25% { transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.416667% { transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.5% { transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  89.583333% { transform: matrix3d(0.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.666667% { transform: matrix3d(0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.75% { transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.833333% { transform: matrix3d(0.99982, 0, 0, 0, 0, 0.99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  97.916667% { transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes anim-close {
  0% { opacity: 1; }
  100% { opacity: 0; transform: scale3d(0.8, 0.8, 1); }
}